@tailwind base;
@tailwind components;
@tailwind utilities;

i {
  display: flex;
  align-items: center;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.capitalize-first {
  text-transform: lowercase;
}